@font-face {
    font-family: "Roboto";
    src: local("Roboto"), local("Roboto-Regular"), url("fonts/Roboto.woff2") format("woff2"), url("fonts/Roboto.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald';
    src: local('Oswald DemiBold'), local('Oswald-DemiBold'), url('Oswalddemibold.woff2') format('woff2'), url('Oswalddemibold.woff') format('woff'), url('Oswalddemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

html,
body {
    margin: 0 auto;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    color: rgba(0, 0, 0, 1);
}

a {
    cursor: pointer;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}


.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.container {
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    margin: -1px;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
}


/*-----------------------ШАПКА-----------------------*/




/*-----------------------ПОДВАЛ-----------------------*/

